---
import { ContentSection } from "@blocks/ContentSection";
import Layout from "../layouts/Layout.astro";
import { Button } from "@components/Button";
---

<Layout
    title="404 | Página não encontrada"
    description="A página que você está procurando pode ter sido removida, teve seu nome alterado ou está temporariamente indisponível."
>
    <main class="page-content">
        <ContentSection>
            <div
                class="text-center max-w-xl lg:my-32 flex flex-col gap-5 justify-center items-center"
            >
                <h1 class="text-h1-lg">Ops - Nada por aqui! 404</h1>
                <p>
                    A página que você está procurando pode ter sido removida, seu nome alterado ou estar temporariamente indisponível.
                </p>

                <Button variant="primary" link="/" align="center">
                    Voltar
                </Button>
            </div>
        </ContentSection>
    </main>
</Layout>
