---
import { ContentSection } from "@blocks/ContentSection";
import Layout from "../layouts/Layout.astro";
import { Button } from "@components/Button";
---

<Layout
    title="Erro ao enviar contato!"
    description="Desculpe, houve um erro ao tentar enviar sua mensagem. Por favor, tente novamente ou entre em contato através de outros meios disponíveis."
>
    <main class="page-content">
        <ContentSection>
            <div
                class="text-center max-w-xl lg:my-32 flex flex-col gap-5 justify-center items-center"
            >
                <h1 class="text-h1-lg bg-red-600 text-primary">Erro ao enviar o contato!</h1>
                <p>
                    Infelizmente houve um erro ao enviar o contato.
                </p>

                <Button variant="primary" link="https://wa.me/5511989266354?text=Olá! Gostaria de saber mais sobre os serviços da Devnic." target="_blank" align="center">
                    Chamar no whats!
                </Button>

                <Button variant="primary" link="/" align="center">
                    Voltar
                </Button>
            </div>
        </ContentSection>
    </main>
</Layout>
