---
import { Container } from "@components/Container";
import Layout from "../layouts/Layout.astro";

const contatoEmail = "suporte.devnic@gmail.com";
---

<Layout title="Devnic" description="YOUR META DESCRIPTION FOR SEO">
    <main class="page-content px-4 py-6 pt-28">
        <Container>
            <h1 class="text-3xl font-semibold mb-4">Política de Privacidade e Termos de Uso</h1>

            <p class="mb-4">
                <span class="font-bold text-red-600"
                    >1. Bem-vindos ao site da Devnic Web Solutions.</span
                > Ao acessar e utilizar nossos serviços, você concorda com os seguintes
                Termos de Uso. Se você não concorda com qualquer parte destes termos,
                recomendamos que não utilize nosso site.
            </p>

            <p class="mb-4">
                <span class="font-bold text-red-600">2. Uso do Site:</span> Você deve
                utilizar este site de maneira legal, ética e em conformidade com as legislações
                aplicáveis.
            </p>
            <ul class="list-disc pl-6 mb-4">
                <li>
                    É proibido o uso do site para qualquer atividade ilícita,
                    fraudulenta ou que possa comprometer sua segurança ou a de
                    terceiros.
                </li>
                <li>
                    O descumprimento destes Termos de Uso pode resultar na suspensão
                    ou cancelamento do acesso ao site, sem aviso prévio.
                </li>
            </ul>

            <p class="mb-4">
                <span class="font-bold text-red-600"
                    >3. Cadastro e Conta do Usuário:</span
                > Alguns serviços podem exigir a criação de uma conta. Você é responsável
                por manter suas credenciais seguras e não as compartilhar com terceiros.
            </p>
            <ul class="list-disc pl-6 mb-4">
                <li>
                    A Devnic Web Solutions não se responsabiliza pelo uso indevido
                    da sua conta caso suas credenciais sejam comprometidas.
                </li>
            </ul>

            <p class="mb-4">
                <span class="font-bold text-red-600"
                    >4. Propriedade Intelectual:</span
                > Todo o conteúdo disponibilizado no site, incluindo textos, logotipos,
                imagens, códigos-fonte e demais materiais, é de propriedade exclusiva
                da Devnic Web Solutions e protegido por leis de direitos autorais e propriedade
                industrial.
            </p>
            <ul class="list-disc pl-6 mb-4">
                <li>
                    Qualquer reprodução, distribuição, modificação ou uso do
                    conteúdo sem autorização expressa é proibida e pode resultar em
                    medidas legais.
                </li>
            </ul>

            <p class="mb-4">
                <span class="font-bold text-red-600"
                    >5. Disponibilidade e Funcionamento do Site:</span
                > Nos esforçamos para manter o site disponível e em pleno funcionamento,
                mas não garantimos sua operação ininterrupta ou livre de erros.
            </p>
            <ul class="list-disc pl-6 mb-4">
                <li>
                    Reservamo-nos o direito de suspender ou encerrar o site,
                    temporária ou permanentemente, a qualquer momento, sem aviso
                    prévio.
                </li>
            </ul>

            <p class="mb-4">
                <span class="font-bold text-red-600"
                    >6. Limitação de Responsabilidade:</span
                > Nós nos esforçamos para manter as informações do site atualizadas e
                precisas, mas não garantimos a ausência de erros ou falhas.
            </p>
            <ul class="list-disc pl-6 mb-4">
                <li>
                    Não nos responsabilizamos por danos diretos, indiretos,
                    incidentais ou consequenciais resultantes do uso ou
                    impossibilidade de uso do site.
                </li>
                <li>
                    Links para sites de terceiros podem estar presentes no site, mas
                    não garantimos sua veracidade ou segurança. O uso desses sites é
                    de sua inteira responsabilidade.
                </li>
            </ul>

            <p class="mb-4">
                <span class="font-bold text-red-600"
                    >7. Privacidade e Proteção de Dados:</span
                > O uso dos seus dados pessoais é regulado por nossa <a
                    href="/politica-de-privacidade"
                    class="text-blue-600">Política de Privacidade</a
                >, que está disponível neste site.
            </p>
            <ul class="list-disc pl-6 mb-4">
                <li>
                    Ao utilizar nosso site, você concorda com a coleta e uso de seus
                    dados conforme descrito na Política de Privacidade e em
                    conformidade com a Lei Geral de Proteção de Dados (LGPD - Lei nº
                    13.709/2018).
                </li>
            </ul>

            <p class="mb-4">
                <span class="font-bold text-red-600">8. Alterações nos Termos:</span
                > Reservamo-nos o direito de modificar estes Termos de Uso a qualquer
                momento. As alterações entrarão em vigor a partir da publicação no site.
            </p>
            <ul class="list-disc pl-6 mb-4">
                <li>
                    É sua responsabilidade revisar regularmente os Termos de Uso
                    para estar ciente de eventuais mudanças.
                </li>
            </ul>

            <p class="mb-4">
                <span class="font-bold text-red-600">9. Contato:</span> Se tiver dúvidas
                sobre estes Termos de Uso, entre em contato conosco pelo e-mail <a
                    href="mailto:{contatoEmail}"
                    class="text-blue-600">{contatoEmail}</a
                >.
            </p>
        </Container>
    </main>
</Layout>; ---
