---
import { Container } from "@components/Container";
import Layout from "../layouts/Layout.astro";

const contatoEmail = "suporte.devnic@gmail.com";
---

<Layout title="Política de Privacidade - Devnic" description="YOUR META DESCRIPTION FOR SEO">
    <main class="page-content px-4 py-6 pt-28">
        <Container>
            <h1 class="text-3xl font-semibold mb-4">Política de Privacidade</h1>

            <p class="mb-4">
                <span class="font-bold text-red-600"
                    >1. Compromisso com a Privacidade:</span
                >
                A Devnic Web Solutions valoriza sua privacidade e se compromete a
                proteger seus dados pessoais. Esta Política de Privacidade explica
                como coletamos, utilizamos e protegemos suas informações, em conformidade
                com a Lei Geral de Proteção de Dados (LGPD - Lei nº 13.709/2018).
            </p>

            <p class="mb-4">
                <span class="font-bold text-red-600">2. Coleta de Dados:</span> Coletamos
                informações fornecidas diretamente por você, como nome, e-mail e
                telefone, quando preenche formulários ou entra em contato conosco.
            </p>
            <ul class="list-disc pl-6 mb-4">
                <li>
                    Também coletamos dados automaticamente, como endereço IP,
                    tipo de navegador e páginas acessadas, por meio de cookies e
                    tecnologias similares.
                </li>
            </ul>

            <p class="mb-4">
                <span class="font-bold text-red-600">3. Uso dos Dados:</span> Utilizamos
                suas informações para:
            </p>
            <ul class="list-disc pl-6 mb-4">
                <li>Melhorar nossos serviços e experiência do usuário;</li>
                <li>
                    Entrar em contato para suporte ou marketing (se autorizado);
                </li>
                <li>Cumprir obrigações legais.</li>
            </ul>

            <p class="mb-4">
                <span class="font-bold text-red-600"
                    >4. Compartilhamento de Dados:</span
                > Não vendemos nem compartilhamos seus dados pessoais com terceiros,
                exceto quando necessário para cumprir exigências legais ou melhorar
                nossos serviços.
            </p>

            <p class="mb-4">
                <span class="font-bold text-red-600"
                    >5. Segurança dos Dados:</span
                > Implementamos medidas de segurança adequadas para proteger suas
                informações contra acessos não autorizados.
            </p>

            <p class="mb-4">
                <span class="font-bold text-red-600"
                    >6. Direitos do Usuário Conforme a LGPD:</span
                > De acordo com a LGPD, você tem os seguintes direitos:
            </p>
            <ul class="list-disc pl-6 mb-4">
                <li>Confirmar a existência do tratamento de seus dados;</li>
                <li>Acessar seus dados pessoais;</li>
                <li>Corrigir dados incompletos, inexatos ou desatualizados;</li>
                <li>
                    Solicitar a anonimização, bloqueio ou eliminação de dados
                    desnecessários ou excessivos;
                </li>
                <li>
                    Revogar o consentimento para uso de seus dados a qualquer
                    momento.
                </li>
            </ul>
            <p class="mb-4">
                Para exercer qualquer um desses direitos, entre em contato
                conosco pelo e-mail
                <a href="mailto:{contatoEmail}" class="text-blue-600"
                    >{contatoEmail}</a
                >.
            </p>

            <p class="mb-4">
                <span class="font-bold text-red-600"
                    >7. Alterações na Política:</span
                > Podemos atualizar esta Política de Privacidade periodicamente,
                e a versão mais recente estará sempre disponível em nosso site.
            </p>

            <p class="mb-4">
                <span class="font-bold text-red-600">8. Contato:</span> Se tiver
                dúvidas sobre esta Política de Privacidade, entre em contato conosco
                pelo e-mail <a
                    href="mailto:{contatoEmail}"
                    class="text-blue-600">{contatoEmail}</a
                >.
            </p>
        </Container>
    </main>
</Layout>
